* {
    margin: 0;
    /* background-color: #1A81FF; */
}
.navbg{
    height: 40px;
    background-color: #1A81FF;
}
.imgtechgropse{
    width: 60px;
    height: 60px;
}
.navbgii{
    height: 40px;
    background-color: #1A81FF;
    margin-top: 75px;
}
